@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0A0A0A] text-[#FFFFFF] font-['Lora'] antialiased;
  }
  ::selection {
    @apply bg-[#E5B887] text-[#1C120E];
  }
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #0A0A0A;
  }
  ::-webkit-scrollbar-thumb {
    background: #2A2A2A;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #E5B887;
  }
}
